body{
  background-color: rgb(234, 237, 205);
}
#navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  background-color: rgb(8, 78, 54);
  left: 0;
  top: 0;
  padding: 20px;
}

#navbartext{
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
}

#navSubComponent:hover {
  color: rgb(11, 42, 32);
}
.register{
  margin-top: 100px;
}
.register-form{
  border: 1px solid rgb(89, 152, 73);
  background-color: rgb(89, 152, 73);
  border-radius: 15px;
  margin-left: 10px;
height: 600px;
  width: 400px;
}
.form{
  margin-left: 80px;
  color: white;
  font-weight: bold;
}
#submit{
  margin-left: 150px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}
#name{
  margin-left: 80px;
 padding: 8px 30px;
}
#email{
  margin-left: 80px;
 padding: 8px 30px;
}
#password{
  margin-left: 80px;
 padding: 8px 30px;
}
#mobilenumber{
  margin-left: 80px;
 padding: 8px 30px;
}
#description{
  margin-left: 80px;
 padding: 8px 30px;
}
#username{
  margin-left: 80px;
 padding: 8px 30px;
}
#first{
  margin-top: 50px
}
#search{
  margin-top: 100px;
}