.nav{
    display: flex;
    justify-content: center;
  justify-content: space-around;
    height: 70px;
    width: 100%;
    background-color:navy;
    text-decoration: none;
}
.navLink{
    font-weight: bold;
    margin-top: 14px;
    font-size:28px;
    color: white;
}
.navLink:hover{
    color:rgb(118, 229, 233);
}